# CODEOWNERS:  list of maintainers or knowledgeble persons who automatically
# will be assigned as reviewer to PR touching specified path below.
#
# more details on file syntax:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Платежи, команда FB
src/Enum/CloudErrors.php @anton-smolenov @vatr666
src/Enum/TimezoneCodes.php @anton-smolenov @vatr666
src/Enum/TransactionStatus.php @anton-smolenov @vatr666
src/Enum/TrInitiatorCode.php @anton-smolenov @vatr666
src/Exceptions/BadTypeException.php @anton-smolenov @vatr666
src/Exceptions/CloudpaymentsException.php @anton-smolenov @vatr666
src/Hook/HookCancel.php @anton-smolenov @vatr666
src/Hook/HookCheck.php @anton-smolenov @vatr666
src/Hook/HookConfirm.php @anton-smolenov @vatr666
src/Hook/HookFail.php @anton-smolenov @vatr666
src/Hook/HookPay.php @anton-smolenov @vatr666
src/Hook/HookRecurrent.php @anton-smolenov @vatr666
src/Hook/HookRefund.php @anton-smolenov @vatr666
src/Request/ApplepayStartSession.php @anton-smolenov @vatr666
src/Request/CardsPayment.php @anton-smolenov @vatr666
src/Request/CardsTopUp.php @anton-smolenov @vatr666
src/Request/NotificationsGet.php @anton-smolenov @vatr666
src/Request/NotificationsUpdate.php @anton-smolenov @vatr666
src/Request/OrderCancel.php @anton-smolenov @vatr666
src/Request/OrderCreate.php @anton-smolenov @vatr666
src/Request/PaymentsConfirm.php @anton-smolenov @vatr666
src/Request/PaymentsFind.php @anton-smolenov @vatr666
src/Request/PaymentsGet.php @anton-smolenov @vatr666
src/Request/PaymentsList.php @anton-smolenov @vatr666
src/Request/PaymentsListV2.php @anton-smolenov @vatr666
src/Request/PaymentsRefund.php @anton-smolenov @vatr666
src/Request/PaymentsSbp.php @anton-smolenov @vatr666
src/Request/PaymentsSbpLink.php @anton-smolenov @vatr666
src/Request/PaymentsSbpQr.php @anton-smolenov @vatr666
src/Request/PaymentsVoid.php @anton-smolenov @vatr666
src/Request/Post3DS.php @anton-smolenov @vatr666
src/Request/SubscriptionCancel.php @anton-smolenov @vatr666
src/Request/SubscriptionCreate.php @anton-smolenov @vatr666
src/Request/SubscriptionFind.php @anton-smolenov @vatr666
src/Request/SubscriptionGet.php @anton-smolenov @vatr666
src/Request/SubscriptionUpdate.php @anton-smolenov @vatr666
src/Request/TokenList.php @anton-smolenov @vatr666
src/Request/TokenPayment.php @anton-smolenov @vatr666
src/Request/TokenTopUp.php @anton-smolenov @vatr666
src/Response/Models/AppleSessionModel.php @anton-smolenov @vatr666
src/Response/Models/NotificationModel.php @anton-smolenov @vatr666
src/Response/Models/OrderModel.php @anton-smolenov @vatr666
src/Response/Models/SbpBankModel.php @anton-smolenov @vatr666
src/Response/Models/SubscriptionModel.php @anton-smolenov @vatr666
src/Response/Models/TokenModel.php @anton-smolenov @vatr666
src/Response/Models/TransactionModel.php @anton-smolenov @vatr666
src/Response/Models/TransactionWith3dsModel.php @anton-smolenov @vatr666
src/Response/AppleSessionResponse.php @anton-smolenov @vatr666
src/Response/NotificationResponse.php @anton-smolenov @vatr666
src/Response/OrderResponse.php @anton-smolenov @vatr666
src/Response/SubscriptionArrayResponse.php @anton-smolenov @vatr666
src/Response/SubscriptionResponse.php @anton-smolenov @vatr666
src/Response/TokenArrayResponse.php @anton-smolenov @vatr666
src/Response/TransactionArrayResponse.php @anton-smolenov @vatr666
src/Response/TransactionResponse.php @anton-smolenov @vatr666
src/Response/TransactionWith3dsResponse.php @anton-smolenov @vatr666
test/Request/ApplepayStartSessionTest.php @anton-smolenov @vatr666
test/Request/OrderCreateTest.php @anton-smolenov @vatr666
test/Request/PaymentsRefundTest.php @anton-smolenov @vatr666
test/Response/TransactionWith3dsModelTest.php @anton-smolenov @vatr666

# Чеки, команда BAR
src/Enum/AgentSign.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/Answer.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/BoolField.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/CorrectionReceiptType.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/CorrectionType.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/CultureName.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/ItemsObject.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/Method.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/ReceiptStatus.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/ReceiptType.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/TaxationSystem.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/UnitCode.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/Vat.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/VatRate.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Hook/HookReceipt.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Hook/HookReceiptCorrection.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Request/Receipt/* @Aleksey-Nabok @Denis00211 @tkv-dev
src/Response/Models/KktReceiptModel.php @Aleksey-Nabok @Denis00211 @tkv-dev
src/Response/KktReceiptResponse.php @Aleksey-Nabok @Denis00211 @tkv-dev
test/Request/KktReceiptTest.php @Aleksey-Nabok @Denis00211 @tkv-dev

# Общее (чеки, платежи), команды FB и BAR
composer.json @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
src/Enum/CloudMethodsEnum.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
src/Response/Models/BaseModel.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
src/Response/CloudResponse.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
src/BaseHook.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
src/BaseRequest.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
src/Library.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
tests/Response/Models/BaseModelTest.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
tests/Response/LibraryTest.php @anton-smolenov @vatr666 @Aleksey-Nabok @Denis00211 @tkv-dev
